@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    @*<div class="jumbotron">

        </div>*@
    <div class="container" style="width: 100%">
        <div class="row" style="background-color:#3e2d84;">
            <img style="width:300px; padding-top: 50px" class="img-responsive center-block" src="~/Img/100315104040_1_900x600.png" />
            <p style="color:#ffe573; overflow-wrap: break-word; max-width:50%; margin: auto; font-size:30px; padding-bottom: 50px" class="text-center">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</p>
        </div>
        <div class="row" style="height: 200px; background-color:white">
            <p style="overflow-wrap: break-word; max-width:50%; margin: auto; font-size:30px; padding-top: 50px" class="text-center">Text</p>
            <div class="col-md-12" style="padding-top:30px; padding-bottom:50px">
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img style="width:50%;" class="img-responsive center-block" src="~/Img/100315104040_1_900x600.png" />
                    <h4 class="text-center">Text1</h4>

                    <p style="text-align:center; overflow-wrap:break-word">sfjakssfjaksfjakfjakjsfjsfjaksfjakfjakjsfjsfjaksfjakfjakjsfjsfjaksfjakfjakjsfjsfjaksfjakfjakjsfjfjakfjakjsfj</p>
                </div>
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img style="width:50%;" class="img-responsive center-block" src="~/Img/100315104040_1_900x600.png" />
                    <h4 class="text-center">Text1</h4>
                </div>
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img style="width:50%;" class="img-responsive center-block" src="~/Img/100315104040_1_900x600.png" />
                    <h4 class="text-center">Text1</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>