@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    @*<div class="jumbotron">

        </div>*@
    <div class="container" style="width: 100%">
        <div class="row" style="background-color:#3e2d84;">
            <img style="width:300px; padding-top: 50px" class="img-responsive center-block" src="~/Img/100315104040_1_900x600.png" />
            <p style="color:#ffe573; overflow-wrap: break-word; max-width:50%; margin: auto; font-size:30px; padding-bottom: 50px" class="text-center">NanoCalc - это удобный сервис для расчета параметров нанокомпозитов</p>
        </div>
        <div class="row" style="height: 200px; background-color:white">
            <p style="overflow-wrap: break-word; max-width:50%; margin: auto; font-size:30px; padding-top: 50px" class="text-center">Разработан специально для инженеров</p>
            <p style="text-align:center; overflow-wrap:break-word; font-size:21px;">NanoCalc позволяет быстро и эфективно расчитывать различные свойства нанокомпозитов</p>
            <div class="col-md-12" style="padding-top:30px; padding-bottom:50px">
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img style="width:50%;" class="img-responsive center-block" src="~/Img/1.png" />
                    <h4 class="text-center" style="font-size:24px">Удобные и быстрые графики</h4>
                    <p style="text-align:center; overflow-wrap:break-word; font-size:16px">По каждому из параметров нанокомпозита построен график со шкалой пористости по оси X из значениям по оси Y, а так же построение графиков занимает очень маленькое количество времени</p>
                </div>
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img style="width:50%;" class="img-responsive center-block" src="~/Img/2.png" />
                    <h4 class="text-center" style="font-size:24px">Множество параметров</h4>
                    <p style="text-align:center; overflow-wrap:break-word; font-size:16px">Мы предлогаем расчет таких параметров как плотность, твердость и множество других</p>
                </div>
                <div class="col-md-4" style="padding-left: 15px; padding-right:15px">
                    <img class="img-responsive center-block" src="~/Img/3.png" />
                    <h4 class="text-center" style="font-size:24px">Работайте вместе</h4>
                    <p style="text-align:center; overflow-wrap:break-word; font-size:16px">Мы предоставляем уникальную возможность для работы над совместными проектами</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>